// Footer
#footer {
	margin-top: 4rem;
	background: darken($color: $background-color, $amount: 20%);

	h5::after {
		content: "";
		display: block;
		width: 50%;
		border-bottom: 1px solid black;
	}

	li {
		padding-bottom: 0.2rem;
		// font-size: 0.8rem;
	}

	#copyright {
		height: 75px;
		margin: auto;
		border-top: solid 1px black;

		img {
			height: 50px;
			margin-right: 7px;
		}

		p {
			display: inline-block;
			margin: auto;
		}
	}
}
