// Footer
#footer {
    margin-top: 4rem;
    background: darken($color: $background-color, $amount: 20%);

    .row {
        .col-md-3 {
            display: grid;
            margin: 1rem;
            text-align: center;
            max-width: fit-content;

            h5 {
                margin: 0;
                padding: 1rem 0;
            }

            ul {
                padding: 0;

                li {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }

    #copyright {
        height: 75px;
        margin: auto;
        border-top: solid 1px black;

        p {
            display: inline-block;
            margin: auto;
        }
    }
}
