// Section - Home
#home {
	background: url("https://source.unsplash.com/JXUfF7HYfMo/1600x900")
		no-repeat center/cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-width: unset;
	min-height: 100vh;

	.container {
		// max-width: 90%;
		margin-bottom: 20vw;

		.input-group {
			height: 80px;

			.form-control {
				height: 80px;
				padding: 1rem 1.5rem;
			}

			.btn {
				padding: 1rem;
			}
		}

		#match-list {
			position: absolute;
			z-index: 9;

			.suggestions {
				background: #fff;
				padding: 1rem 1.5rem;
			}
		}
	}
}

// Section - What is Sumunara
#what-is-sumunara {
	margin-top: 2rem;

	.col-md-4 {
		margin: 1rem 0;
		padding-right: 0;
		padding-left: 0;

		.card {
			border: none;
			margin: auto;

			.card-img-top {
				margin: auto;
				width: 15%;
			}

			// .card-body {
			// 	padding: 1.25rem 0;
			// }
		}
	}
}

// Section - Areas
#areas {
	margin-top: 2rem;

	.container {
		.col-lg-6 {
			margin-bottom: 3rem;

			.media {
				width: 90%;

				img {
					border-radius: 10px;
					padding: 0;
				}

				.media-body {
					height: 100%;
					margin-left: initial;
					display: flex;
					align-items: center;
					max-width: 400px;
					margin-top: 15px;

					p {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}
