// Wide screens (1200px and up)
@include screen-xl {
	// Navbar
	// .navbar.navbar-expand-lg .container ul.navbar-nav {
	// 	// With signup and login links
	// 	width: 60%;
	// }

	// Section - Home
	#home div.container {
		margin-bottom: 10vw;
	}
}

// Large devices (desktops, 992px and up)
@include screen-lg {
	// Navbar
	.navbar.navbar-expand-lg .container .navbar-nav {
		margin: 0 0 0 auto;
		justify-content: flex-end;
		width: 300px;

		// With signup and login links
		// width: 70%;
	}

	// Section - What is Sumunara
	#what-is-sumunara .col-lg-4 .card .card-img-top {
		width: 25%;
	}

	#areas .container .col-lg-6 .media {
		img {
			width: 250px;
			height: 180px;
		}
	}

	// Details
	#details {
		#stats {
			li {
				font-size: 1.3rem;
			}
		}
	}

	// Sitemap
	#sitemap-container {
		ul {
			li {
				font-size: 1.3rem;
			}
		}
	}

	// Footer
	footer#footer h5::after {
		width: 100%;
	}
}

// Medium devices (tablets, 768px and up)
@include screen-md {
	// Section - Home
	#home .container {
		margin-bottom: 15vw;
	}

	// Section - Areas
	#areas .container .col-lg-6 .media {
		img {
			max-width: 250px;
			height: 180px;
		}

		.media-body {
			margin-top: initial;
			padding-left: 30px;
			padding-right: 0;
		}
	}

	// Footer
	#footer .row .col-md-3 {
		text-align: left;
		margin: 16px;
		padding: 0 15px;
	}

	// Details
	#details {
		.row.justify-content-around {
			margin-bottom: 2rem;
		}

		#doughnut-chart-container {
			margin-bottom: 0;
		}
	}

	// Sign up, Log in
	#signup-container,
	#login-container {
		// max-width: 1000px;

		#flex-container {
			display: flex;
		}

		#divider-wrapper {
			display: flex;
			align-items: center;

			#or {
				&:before {
					border-top: none;
					border-left: 1px solid
						darken($color: $background-color, $amount: 30%);
					left: 50%;
					top: 0;
				}

				span {
					position: relative;
					top: 45%;
				}
			}
		}

		#btn-wrapper {
			display: none;
		}

		#signup-form {
			display: block;
		}
	}

	// Terms and Conditions
	form#terms-container {
		div.terms-contents {
			padding: 40px 60px;
		}
	}
}

// Tablets (576px and up)
@include screen-sm {
	// Details
	#details #stats-details ul li div.col {
		padding-left: 50px;
	}

	// Terms and Conditions
	form#terms-container {
		.terms-contents {
			padding: 30px;
		}

		.terms-head h2 {
			margin-bottom: 3rem;
		}

		h3 {
			margin: 3rem 0 1.5rem;
		}
	}

	// Footer
	#footer h5::after {
		width: 30%;
	}
}

// Smartphones (up to 400px)
@include screen-xs {
	// Section - Home
	// #home .container {
	// 	max-width: 100%;
	// }

	// Section - Areas
	#areas {
		.container .col-lg-6 .media {
			img {
				// max-width: 250px;
				height: 220px;
			}
		}

		a.row.align-items-center {
			flex-direction: column;
		}
	}

	#footer .row {
		display: block;

		.col-md-3 {
			margin: 0 auto;
			padding: 0;
		}
	}
}
