.navbar.navbar-expand-lg {
    z-index: 10;
    padding: 25px;
    transition: 0.6s;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;

    .container {
        max-width: 960px;

        .navbar-brand {
            img {
                height: 50px;
                margin-right: 7px;
            }
        }

        .navbar-nav {
            margin-left: auto;
            justify-content: space-between;
            margin: 10px 0;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                width: 60%;
                margin: 0 0 0 auto;
            }
        }
    }

    &.scrolled {
        padding: 0 1rem !important;
        background-color: #f3f3f3 !important;
    }
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(4px);
}

.dropdown-menu {
    margin-top: 0;
}
