// Forget Password
#forget-container {
	margin: 160px auto 30px;
	max-width: 550px;

	h3 {
		margin-bottom: 1.5rem;
	}

	.btn {
		display: block;
		width: 100%;
		margin: 1.5rem auto;
		padding: 5px 0;
	}
}
