// Sign up
#signup-container {
    margin: 160px auto 30px;
    max-width: 400px;

    #social-icons {
        .btn {
            width: 100%;
            background: lightblue;
            border: 1px solid black;
            display: flex;

            .fab {
                font-size: 1.5rem;
            }

            .col-10 {
                text-align: left;
            }
        }
    }

    #show-form-btn {
        width: 100%;
        margin-bottom: 2rem;
        background: $background-color;
    }

    #form-email {
        display: none;

        .form-group {
            // #passwordHelpBlock {
            //     display: none;
            // }

            // #inputPassword:focus + #passwordHelpBlock {
            //     display: block;
            // }
        }

        button {
            background: $primary-color;
            width: 100%;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 14px;
        }
    }
}
