@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
.navbar.navbar-expand-lg {
  z-index: 10;
  padding: 25px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar.navbar-expand-lg .container {
  max-width: 90%;
}

.navbar.navbar-expand-lg .container .navbar-brand img {
  height: 50px;
  margin-right: 7px;
}

.navbar.navbar-expand-lg .container .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0 1rem auto;
}

.navbar.navbar-expand-lg.scrolled {
  padding: 0 1rem !important;
  background-color: #f3f3f3 !important;
}

.dropdown-toggle::after {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.dropdown-menu {
  margin-top: 0;
}

#footer {
  margin-top: 4rem;
  background: lightgrey;
}

#footer .row .col-md-3 {
  display: -ms-grid;
  display: grid;
  margin: 1rem;
  text-align: center;
}

#footer .row .col-md-3 h5 {
  margin: 0;
  padding: 1rem 0;
}

#footer .row .col-md-3 ul {
  padding: 0;
}

#footer .row .col-md-3 ul li {
  padding-bottom: 0.5rem;
}

#footer #copyright {
  height: 75px;
  margin: auto;
  border-top: solid 1px black;
}

#footer #copyright p {
  display: inline-block;
  margin: auto;
}

#home {
  background: url("https://source.unsplash.com/1600x900/?fukuoka") fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .container {
  max-width: 90%;
  margin-bottom: 5vw;
}

#home .container .input-group {
  height: 80px;
}

#home .container .input-group .form-control {
  height: 80px;
  padding: 1rem 1.5rem;
}

#what-is-sumunara .col-lg-4 {
  margin: 1rem 0;
}

#what-is-sumunara .col-lg-4 .card {
  border: none;
  width: 90%;
  margin: auto;
}

#what-is-sumunara .col-lg-4 .card .card-img-top {
  margin: auto;
  width: 30%;
}

#areas .container .col-lg-6 {
  margin-bottom: 3rem;
}

#areas .container .col-lg-6 .media {
  width: 90%;
}

#areas .container .col-lg-6 .media img {
  border-radius: 10px;
  max-width: 400px;
  padding: 0;
}

#areas .container .col-lg-6 .media .media-body {
  height: 100%;
  margin-left: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  margin-top: 15px;
}

#results-container {
  margin: 160px auto 30px;
}

#results-container li {
  font-size: 1.3rem;
  margin: 1rem 0;
}

#summary-container {
  width: 90%;
  margin: 160px auto 30px;
}

#details #doughnut-chart-container {
  margin-bottom: 1rem;
}

#details #stats h4 {
  margin-top: 1rem;
}

#details #stats li {
  font-size: 1.3rem;
  margin: 1rem 0;
}

#details #bar-charts-container {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .navbar.navbar-expand-lg .container ul.navbar-nav {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .navbar.navbar-expand-lg .container .navbar-nav {
    width: 70%;
    margin: 0 0 0 auto;
  }
  #what-is-sumunara .col-lg-4 .card .card-img-top {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #areas .container .col-lg-6 .media img {
    max-width: 250px;
  }
  #areas .container .col-lg-6 .media .media-body {
    margin-top: initial;
  }
  #footer .row .col-md-3 {
    text-align: left;
  }
  #details .row.justify-content-around {
    margin-bottom: 2rem;
  }
  #details #doughnut-chart-container {
    margin-bottom: 0;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.fade-in.appear {
  opacity: 1;
  animation: fadeUp 2.5s cubic-bezier(0.19, 0.85, 0.05, 0.94);
  -webkit-animation: fadeUp 2.5s cubic-bezier(0.19, 0.85, 0.05, 0.94);
  -moz-animation: fadeUp 2.5s cubic-bezier(0.19, 0.85, 0.05, 0.94);
  -o-animation: fadeUp 2.5s cubic-bezier(0.19, 0.85, 0.05, 0.94);
  -ms-animation: fadeUp 2.5s cubic-bezier(0.19, 0.85, 0.05, 0.94);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
}

section {
  min-height: 100vh;
}

section:not(#home) {
  margin-top: 2rem;
}

.h-100px {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.container {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */