// === Import ===
@import "./config";
@import "./navbar";
@import "./footer";
@import "./index";
@import "./results";
@import "./details";
@import "./error";
@import "./mobile";
@import "./animation";
@import "./sitemap";

// Google fonts
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

// General stylings
* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
}

a {
	color: inherit;

	&:hover {
		color: $text-hover;
	}
}

// section {
// 	min-height: 100vh;
// }

#link-container {
	text-align: center;

	a.btn {
		text-transform: uppercase;
		font-size: 13px;
		// background-color: #de7e85;
		padding: 10px 15px;
		// border-radius: 0;
		color: $text-color;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 5px;
		line-height: 1.5;
		text-decoration: none;
		margin-top: 50px;
		letter-spacing: 1px;
	}
}

.btn {
	font-size: 13px;
	padding: 10px 15px;
}

.h-100px {
	height: 100px;
}

.h-200 {
	height: 200px;
}

.h-300 {
	height: 300px;
}

.container {
	overflow: hidden;
}
